body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#welcomeMessage {
  font-size: 24px;
  margin-bottom: 20px;
}

#mainButton {
  display: none; /* 처음에는 버튼을 숨깁니다 */
  opacity: 0;
  transition: opacity 1s; /* 서서히 나타나게 합니다 */
}
